.login {
  position: absolute;
  margin: 4px;
  top: 0;
  right: 0;
}

body {
  
  text-decoration: none;
  background-color: rgba(37, 128, 85, 0.851);
}

ul {
  list-style: none;
}

a {
  color: black;
}

table {
  text-transform: uppercase;
}

label {
  padding: 3px;
}

h1 {
  text-transform: uppercase;
  
}

.jumbotron {
  
  background-image: url("../img/background.jpeg");
}


