@{
  Layout="_Layout";
}

<h1>Welcome to Pierres' Sweets and Treats</h1>

<p class="btn btn-primary">@Html.ActionLink("View all Flavors", "Index", "Flavors")</p>
<p class="btn btn-primary">@Html.ActionLink("A to an index page", "Index", "Treats")