@{
  Layout="_Layout";
}
<br>
<h1>Pierre's current Treat and Flavor combinations:</h1>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Calories</th>
  </tr>
  @foreach (var join in ViewBag.FlavorTreat)
  {
    <tr>
      <td>@join.FlavorTreatName</td> 
      <td>@join.Flavor.Description with @join.Treat.Description</td> 
      <td>@join.Calories</td>
    </tr>
  }
</table>


