@{
  Layout ="_Layout";
}

@using ProjectName.Models;
@model IEnumerable<ProjectName.Models.ClassOnes>
  
@if (model.Any())
{
  <ul>
    @foreach (ClassOne classOne in Model)
    {
      <li>@Html.ActionLink($"{classOne.Description}", "Details", new { id = classOne.ClassOneId })</li>
    }
  </ul>
}
else
{
  <h3>No ClassOnes have been added yet!</h3>
}

<p>@Html.ActionLink("Add new classOne", "Create")</p>
  
  